<div>
    



<form [formGroup]="formulario" (ngSubmit)="salvar()">
    <div class="p-fluid grid formgrid">
        <div class="col-2">
            <h5>Produto</h5>
            <p-dropdown [options]="listaProdutos" (onChange)="produtoSelecionado($event)"
                        formControlName="produto" 
                        placeholder="Selecione" optionLabel="descricao" [showClear]="true">
            </p-dropdown>
        </div>

        <div class="col-2">
            <h5>Programas</h5>
            <p-dropdown [options]="listaProgramas" [disabled]="!selected.produto"
                        formControlName="programa" 
                        placeholder="Selecione" optionLabel="nome" [showClear]="true">
            </p-dropdown>
        </div>
        
        <div class="col-2">
            <h5>Funcionalidade</h5>
            <p-dropdown [options]="listaFuncionalidades" [disabled]="!selected.produto"
                        formControlName="funcionalidade" 
                        placeholder="Selecione" optionLabel="nome" [showClear]="true">
            </p-dropdown>
        </div>
        
        <div class="col-2">
            <h5>Versões</h5>
            <p-dropdown [options]="listaVersoes"
                        formControlName="versao" 
                        placeholder="Selecione" optionLabel="nome" [showClear]="true">
            </p-dropdown>
        </div>
        
        <div class="col-2">
            <h5>Situação</h5>
            <p-dropdown [options]="listaSituacoes" placeholder="Selecione"
                        formControlName="situacao" 
                        optionValue="id" optionLabel="descricao">
            </p-dropdown>
        </div>
    
        <div class="col-12 mt-3">
            <p-editor [spellcheck]="true" formControlName="textoEditor"  [style]="{'height':'150px'}"></p-editor>
        </div>

        <div clas="col-2 flex">
            <div class="ml-2 my-3" [tooltipDisabled]="this.formulario.valid"  pTooltip="Preencha todos os campos" tooltipPosition="top" >
                <p-button type="submit" [disabled]="!this.formulario.valid" label="Adicionar"></p-button>
            </div>
        </div>
        
    </div>
</form>


<p-table #dt [value]="listaAjudaInterativa"  [scrollable]="true" 
         scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}"
         styleClass="p-datatable-gridlines"><!-- [globalFilterFields]="['nome','nomeAcesso','senha','situacao','produtos']" -->
<!--     <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input placeholder="Pesquisar" id="float-input" type="text" pInputText (input)="dt.filterGlobal($any($event.target).value,'contains')"> 
            </span>
        </div>
    </ng-template> -->
    <ng-template pTemplate="header">
        <tr>
            <th>programa </th>
            <th>funcionalidade</th>
            <th>versao</th>
            <th>situacao</th>
            <th >Disponível</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.programa.nome}}</td>
            <td>{{item.funcionalidade.nome}}</td>
            <td>{{item.versao.nome}}</td>
            <td>{{item.situacao | situacao}}</td>
            <td>{{item.disponivel}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="5">
                No records found
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" [attr.colspan]="5">
        <tr>
            <td [attr.colspan]="5">
                Total de {{listaAjudaInterativa.length}} itens.
            </td>
        </tr>
    </ng-template>
    </p-table>

</div>