.sidebar-open{
    margin-left: 250px;
}
.sidebarIcon {
    background: transparent!important;
    box-shadow: none!important;
    color: #ffffffe8!important;
}

.sidebarIcon:hover{
    color: white!important;
}